<h1> Детальная информация о компании</h1>
<table>
    <tr>
        <td class = "logo" rowspan="5"><img src={{company.logo}} alt="Logo"></td>
        <td><p><span class = "bold">Название:</span> {{company.name}}</p></td>
    </tr>
    <tr>
        <td><p><span class = "bold">Вид деятельности:</span> {{company.industry}}</p></td>
    </tr>
    <tr>
        <td><p><span class = "bold">Слоган:</span> {{company.catchPhrase}}</p></td>
    </tr>
    <tr>
        <td><p><span class = "bold">Телефон:</span> {{company.phoneNumber}}</p></td>
    </tr>
    <tr>
        <td><p><span class = "bold">Адрес:</span> {{company.fullAddress}}</p></td>
    </tr>
</table>